body {
    max-width: 960px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
#selfie {
    float: left;
}
#p1 {
    height: 170px;
    width: 1000px;
    word-wrap: normal;
}
#p2 {    
    width: 1060px;
    word-wrap: normal;
    text-align: center;
}
#resources {
    text-align: center;

}
#resourceList {
    text-align: center;
    list-style: none;
    padding-right: 2pc;
}
#techlist {
    list-style: none;
    text-align: center;
    padding-right: 2pc;
}
